In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
cd drive

[Errno 2] No such file or directory: 'drive'
/content/drive/My Drive/diamond

In [66]:
cd My Drive

[Errno 2] No such file or directory: 'My Drive'
/content/drive/My Drive/diamond

In [67]:
cd diamond

[Errno 2] No such file or directory: 'diamond'
/content/drive/My Drive/diamond

In [68]:
!ls

diamonds.csv  new-diamonds.csv

In [0]:
import pandas as pd
import numpy as np

In [0]:
train_data = pd.read_csv("diamonds.csv")
test_data =  pd.read_csv("new-diamonds.csv")

In [71]:
train_data.head()

   Unnamed: 0  carat        cut  cut_ord color clarity  clarity_ord  price
0           1   0.51    Premium        4     F     VS1            4   1749
1           2   2.25       Fair        1     G      I1            1   7069
2           3   0.70  Very Good        3     E     VS2            5   2757
3           4   0.47       Good        2     F     VS1            4   1243
4           5   0.30      Ideal        5     G    VVS1            7    789

In [72]:
train_data.shape

(50000, 8)

In [73]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
Unnamed: 0     50000 non-null int64
carat          50000 non-null float64
cut            50000 non-null object
cut_ord        50000 non-null int64
color          50000 non-null object
clarity        50000 non-null object
clarity_ord    50000 non-null int64
price          50000 non-null int64
dtypes: float64(1), int64(4), object(3)
memory usage: 3.1+ MB

In [74]:
train_data.columns

Index(['Unnamed: 0', 'carat', 'cut', 'cut_ord', 'color', 'clarity',
       'clarity_ord', 'price'],
      dtype='object')

In [75]:
train_data.describe()

         Unnamed: 0         carat       cut_ord   clarity_ord         price
count  50000.000000  50000.000000  50000.000000  50000.000000  50000.000000
mean   25000.500000      0.798597      3.903980      4.126700   3939.103500
std    14433.901067      0.474651      1.117043      1.665564   3995.879832
min        1.000000      0.200000      1.000000      1.000000    326.000000
25%    12500.750000      0.400000      3.000000      3.000000    948.000000
50%    25000.500000      0.700000      4.000000      4.000000   2402.500000
75%    37500.250000      1.040000      5.000000      5.000000   5331.000000
max    50000.000000      5.010000      5.000000      8.000000  18823.000000

In [76]:
train_data[['cut', 'price']].groupby(['cut'],
as_index=False).mean().sort_values(by='price', ascending=False)

         cut        price
3    Premium  4603.541041
0       Fair  4376.798667
4  Very Good  3971.252325
1       Good  3951.042006
2      Ideal  3460.059368

In [77]:
train_data[['clarity', 'price']].groupby(['clarity'],
as_index=False).mean().sort_values(by='price', ascending=False)

  clarity        price
3     SI2  5044.498181
2     SI1  4012.262214
5     VS2  3938.415236
0      I1  3934.182216
4     VS1  3857.328596
7    VVS2  3265.376596
1      IF  2900.381096
6    VVS1  2523.937260

In [78]:
train_data[['color', 'price']].groupby(['color'],
as_index=False).mean().sort_values(by='price', ascending=False)

  color        price
6     J  5319.618426
5     I  5114.188534
4     H  4498.827362
3     G  4002.829728
2     F  3728.511930
0     D  3147.136407
1     E  3087.448653

In [79]:
test_data.head()

   Unnamed: 0  carat        cut  cut_ord color clarity  clarity_ord
0           1   1.22    Premium        4     G     SI1            3
1           2   1.01       Good        2     G     VS2            5
2           3   0.71  Very Good        3     I     VS2            5
3           4   1.01      Ideal        5     D     SI2            2
4           5   0.27      Ideal        5     H    VVS2            6

In [80]:
test_data.shape

(3000, 7)

In [0]:
y_train_data = train_data.price
list= ['Unnamed: 0','price']
x_train_data = train_data.drop(list,axis=1)

In [0]:
list2 = ['Unnamed: 0']
x_test_data = test_data.drop(list2,axis=1)

In [83]:
x_train_data.shape

(50000, 6)

In [84]:
x_test_data.shape

(3000, 6)

In [0]:
x_train_data = pd.get_dummies(x_train_data)
x_test_data = pd.get_dummies(x_test_data)

In [0]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [87]:
model.fit(x_train_data,y_train_data)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [88]:
model.score(x_train_data,y_train_data)

0.9162528260544507

In [0]:
prediction=model.predict(x_test_data)

In [90]:
print(prediction)

[7421.61082086 5994.74244105 2570.56091193 ... 5888.56941833 1910.89995099
 5732.96174696]

In [91]:
from sklearn.tree import DecisionTreeRegressor
decisiontree = DecisionTreeRegressor()
decisiontree.fit(x_train_data,y_train_data)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [92]:
decisiontree.score(x_train_data,y_train_data)

0.9913698216968141

In [0]:
prediction1 = decisiontree.predict(x_test_data)

In [94]:
print(prediction1)

[6481.         5849.94444444 2131.83333333 ... 5020.75       2154.25
 5088.26666667]